body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.search-row{
	margin-bottom: 15px;
}
.message{
	position: fixed !important; 
	top: 10px !important;
}
.cursor{
	cursor: pointer;
}