<div class="row form-horizontal">
	<div class="form-group">
    	<label class="col-sm-2 control-label">Select file's to upload</label>
    	<div class="col-sm-7">
      		<input type="file" class="form-control" file-model="files" multiple="multiple">
    	</div>
    	<div class="col-sm-2">
      		<button type="submit" class="btn btn-primary" data-ng-click="doUpload()">Upload</button>
    	</div>
  	</div>
</div>