<div class="navbar navbar-default" data-ng-controller='ngHeaderCtrl'>
    <div class="navbar-header">
        <a class="navbar-brand"><b>GE</b> Doc's Search Engine</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li data-ng-class="path == '/search' ? 'active' : ''">
                <a href="#" data-ng-click="go('/search')">Search</a>
                <!-- <ul class="dropdown-menu">
                    <li class="active"><a href="#">Simple example</a></li>
                    <li><a href="../image-preview">Uploads only images (with canvas preview)</a></li>
                    <li><a href="../without-bootstrap">Without bootstrap example</a></li>
                </ul> -->
            </li>
            <li data-ng-class="path == '/upload' ? 'active' : ''"><a href="#" data-ng-click="go('/upload')">Upload</a></li>
        </ul>
    </div>
</div>