<div class="col-lg-offset-4 col-sm-offset-4 col-xs-offset-4 col-md-offset-4 col-lg-6 col-sm-6 col-xs-6 col-md-6 message" data-ng-if='message'>
	<div class="alert alert-success" data-ng-if="message.type == 'success'">
	  <strong>Success!</strong> {{message.text}}.
	</div>
	
	<div class="alert alert-info" data-ng-if="message.type == 'info'">
	  <strong>Info!</strong> {{message.text}}.
	</div>
	
	<div class="alert alert-warning" data-ng-if="message.type == 'warn'">
	  <strong>Warning!</strong> {{message.text}}.
	</div>
	
	<div class="alert alert-danger" data-ng-if="message.type == 'error'">
	  <strong>Error!</strong> {{message.text}}.
	</div>
</div>